:root{
    --color-bg-primary:#393939;
    --color-bg-secondary:#2b2b2b;
    --color-tertiary:#666666;
    --color-bg-display:#3b3b3b;
    --color-text-display:#c5f3e0;
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-size: 16px;
}

.container {
    width: 100%;
    height: 100vh;
    background: var(--color-bg-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    min-width: 21.8rem;
    background: var(--color-bg-secondary);
    padding: 1.25rem 0.5rem;
    border-radius: 0.9rem;
    box-shadow:0.3rem 0.3rem 0.9rem rgba(0,0,0,0.5),
               inset -0.125rem -0.125rem 0.625rem rgba(255,255,255,0.5);
}

.calculator nav ul{
    display:flex;
    justify-content: space-between;
    list-style: none;
    padding: 0 0.9rem;
    margin-bottom: 0.6rem;
}
.calculator nav ul li{
    color:#fff;
    font-size: 1.25rem;
    cursor:pointer;
}
.calculator nav ul p{
    color:#fff;
    font-size: 1.25rem;
    font-weight: 400;
}
.calculator nav{
    margin: 1.25rem 0;
}

.calculator form input{
    border: 0;
    outline: 0;
    width: 3.75rem;
    height:3.75rem;
    border-radius: 3.125rem;
    box-shadow: 0.3rem 0.3rem 0.4rem rgba(0,0,0,0.2);
    background: var(--color-tertiary);
    font-size: 1.25rem;
    color: #fff;
    cursor: pointer;
    margin:0.6rem;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 1.25rem 0;
    position: relative;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 2.5rem;
    transform: scaleY(1.4);
    box-shadow: none;
}

form .display #display{
    padding:5rem 0.9rem 1.875rem 0.9rem;
    border-radius: 0.9rem;
    box-shadow: inset 0.0625rem 0 0.6rem rgba(0,0,0,0.2);
    background: var(--color-bg-display);
    color: var(--color-text-display);
}

form input.equal {
    width:9.06rem;
}

#prev {
    width: 85%;
    text-align: right;
    color: #ddd;
    z-index: 1;
    font-size : 0.6rem;
    height:0.6rem;
    padding: 0.6rem 0.5rem;
    font-size: 0.6rem;
    position: absolute;
    background: transparent;
    top:2.5rem;
    right: 0.6rem;
}
#prev::placeholder{
    color: #bbb;
}

::selection{
    background: rgba(0,0,0,0.2);
}

@media (max-width: 1080px) {
    html{
        font-size: 18px;
    }
}

@media (max-width: 700px) {
    html{
        font-size: 15px;
    }
}