@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 16px;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg,#010758,#490d61);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.hero h1 {
    font-size: 2.9rem;
    font-weight: 500;
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
}

.hero h1 span {
    color: #ff2963;
}
textarea {
    width: 600px;
    height: 15.6rem;
    background: #403d84;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 1.3rem;
    border-radius: 0.6rem;
    resize: none;
    margin-bottom: 1.9rem;
}
textarea::placeholder {
    font-size: 1rem;
    color: #ddd;
}
.row {
    width: 600px;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    position: relative;
}
button {
    background: #ff2963;
    color: #fff;
    font-size: 1rem;
    padding: 0.6rem 1.8rem;
    border-radius: 2.3rem;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}
button i{
    width: 1rem;
    margin-right: 0.6rem;
}
select {
    flex: 1;
    color: #fff;
    background: #403d84;
    height: 50px;
    padding: 0 1.2rem;
    outline: 0;
    border: 0;
    border-radius: 2.3rem;
    appearance: none;
    -webkit-appearance: none;
}
select + i{
    position:absolute;
    display: block;
    color: #fff;
    right: 30%;
    pointer-events: none;
}
i {
    font-size: 1.5rem;
    font-weight: semibold;
}


