*{
    margin: 0;
    padding: 0;
    font-family: Poppins,'sans-serif';
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: #707692;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container form {
    background: #fff;
    width: 90%;
    max-width: 500px;
    padding: 50px 30px 20px;
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.5);
    position: relative;
}

.line {
    position: absolute;
    width: 0;
    height: 8px;
    background-color: #008000;
    top: 0;
    left: 0;
    transition: 3 ease-in;
}

.fa-paper-plane::before{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.input-group {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
    position: relative;
}

.input-group label {
    flex-basis: 28%;
}

.input-group input, .input-group textarea {
    flex-basis: 68%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 10px 0;
    border-bottom: 1px solid #999;
    color: #333;
    font-size: 16px;
}

::placeholder {
    font-size: 14px;
}

form button {
    background: #141a34;
    color: #fff;
    border-radius: 4px;
    border: 1px solid rgba(255,255,255,0.7);
    padding: 10px 40px;
    outline: 0;
    cursor: pointer;
    display: block;
    margin: 30px auto 10px;
}

.input-group span {
    position: absolute;
    bottom: 12px;
    right: 17px;
    font-size: 14px;
    color: red;
}

#submit-error {
    color: red;
}

.input-group span i {
    color: green;
}